body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
input {
  margin: .5rem;
}
#category-container{
  margin: 1rem;
}
.user-table{
  margin: 1rem;
}
.admin-product-container{
  margin: 1rem;
}
table,
th,
td {
  border: 1px solid #222222;
}

th,
td {
  padding: 5px;
}

tr:hover {
  background-color: #f2f2f2;
}



/* NAV BAR STYLING */

.nav {
  display: flex;
}