body {
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
input {
  margin: .5rem;
}
#category-container{
  margin: 1rem;
}
.user-table{
  margin: 1rem;
}
.admin-product-container{
  margin: 1rem;
}
table,
th,
td {
  border: 1px solid #222222;
}

th,
td {
  padding: 5px;
}

tr:hover {
  background-color: #f2f2f2;
}



/* NAV BAR STYLING */

.nav {
  display: flex;
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items:center;
}

.searchForm input {
  border-radius: 4px;
  border: 0.5px none;
  padding: 0.5rem;
  margin-right: 0;
}

.searchForm button {
  position: absolute;
  z-index: 1;
  right: 242px;
  background-color: transparent;
  border-style: none;
}
.searchForm button:active {
  border: 0.5px dotted grey;
}

.author-img{
  height: 200px;
  width: 200px;
  margin: 1rem
}

.about-author {
  display: flex;
  align-items: center;
}
.author-bio {
  padding: 2rem;
  margin: 1rem
}